extends ./layout.jade

block content
    .bounds.app--body
        .app--section--header
            .grid-33
                .app--section--heading
                    h2 TimeLine
            .grid-33
                .app--section--heading
                    strong #{friendCount}
                    h2 Following
            .grid-33
                .app--section--heading
                    h2 Direct Messages
        .grid-33
            .app--section
                ul.app--tweet--list
                    each item in timeLinePosts
                        li
                            strong.app--tweet--timestamp #{item.createdAt}
                            a.app--tweet--author
                                .app--avatar(style="background-image: url(#{item.profileImageURL})")
                                    img(src="#{item.profileImageURL}")
                                h4 #{item.userName} 
                                | @#{item.screenName}
                            p #{item.text}
                            ul.app--tweet--actions.circle--list--inline
                                li
                                    a.app--reply
                                        span.tooltip Reply
                                        include ./../public/images/reply.svg
                                li
                                    a.app--retweet
                                        span.tooltip Retweet
                                        include ./../public/images/retweet.svg
                                        strong  #{item.retweetCount}
                                li
                                    a.app--like
                                        span.tooltip Like
                                        include ./../public/images/heart.svg
                                        strong  #{item.favoriteCount}
        .grid-33
            .app--section
                ul.app--user--list
                    each item in friendsList
                        li
                            .circle--fluid
                                .circle--fluid--cell.circle--fluid--primary
                                    a.app--tweet--author
                                        .app--avatar(style="background-image: url(#{item.profileImageURL})")
                                            img(src="#{item.profileImageURL}")
                                        h4 #{item.userName}
                                        p @#{item.screenName}
                                .circle--fluid--cell
                                    if item.following
                                        a.button.button-text Unfollow
                                    else
                                        a.button Follow
        .grid-33
            .app--section
                ul.app--message--list
                    each item in directMessages
                        li
                            ul.app--message--conversation
                                if item.me
                                    li.app--message--me
                                        .app--avatar(style="background-image: url(#{item.profileImageURL})")
                                            img(src="#{item.profileImageURL}")
                                        p.app--message--text #{item.text}
                                        p.app--message--timestamp #{item.time} ago
                                else
                                    li.app--message
                                        .app--avatar(style="background-image: url(#{item.profileImageURL})")
                                            img(src="#{item.profileImageURL}")
                                        p.app--message--text #{item.text}
                                        p.app--message--timestamp #{item.time} ago
                            